body{
    font-family: cursive;
}
.my{
    color: blue;
 }
.ball{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(#f00, #f0f);
    clip-path: circle(30% at right 70%);
    z-index: -1;
}

.ball1{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(#2f87d0, #ed004f);
    clip-path: circle(20% at 10% 10%);
    z-index: -1;
}
 @media screen and (max-width:1000px){
    .ball{
        height: 100%;
        width: 120%;
        clip-path: circle(30% at right 80%);
    }
}

@media screen and (max-width:500px){
    .ball{
        height: 100%;
        width: 100%;
        clip-path: circle(30% at right 90%);
    }
}

@media screen and (max-width:340px){
    .ball{
        height: 80%;
        width: 80%;
        clip-path: circle(40% at right 100%);
    }
    .ball1{
        height: 100%;
        width: 100%;
        clip-path: circle(20% at 5% 5%);
    }
}

